.team-section {
    margin-bottom: 100px;
    margin-top: 150px;
}

.team-section .team-card {
    /* margin-bottom: 107px; */
    position: relative;
    z-index: 1;
}

.team-section .team-member-img {
    position: absolute;
    z-index: 2;
    width: 244px;
    height: 306px;
    border-radius: 10px;
    bottom: 30%;
    left: -7%;
}

.team-section .team-card-content {
    width: 312px;
    height: 331px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 7px;
}

.team-section .social-links {
    display: grid;
    position: absolute;
    z-index: 2;
    left: 63%;
    top: 8%;
}

.team-section .team-member-info {
    position: absolute;
    z-index: 2;
    top: 68%;
}

.team-section .team-card-content h4 {
    margin-left: 49px;
    font-size: 22px;
    margin-top: 19px;
}

.team-section .team-card-content p {
    margin-left: 49px;
}