.Gallary {
    margin-top: 301px;
    margin-bottom: 96px;
}

.Gallary .container {
    margin-left: 29px;
}





.Gallary .photo1 .img2 {
    width: 159px;
    margin-left: -44px;
    margin-top: 14px;
}





.Gallary .photo2 .img3 {
    margin-left: -53px;
    width: 288px;
    margin-top: 49px;
}




.Gallary .photo3 .img4 {
    width: 320px;
    height: 300px;
    margin-left: 68px;
    margin-top: -141px;
    margin-bottom: 15px;
}
.Gallary .photo3 .img5 {
    width: 183px;
    margin-left: 71px;
    height: 149px;
}



.Gallary .photo4 .img6 {
    width: 190px;
    margin-left: 219px;
    height: 149px;
    margin-bottom: 24px;
}
.Gallary .photo4 .img7 {
    width: 326px;
    height: 300px;
    margin-left: 87px;
}





.Gallary .photo5 .img8 {
    width: 293px;
    margin-left: 244px;
    margin-top: 68px;
}





.Gallary .photo6 .img9 {
    width: 143px;
    height: 244px;
    margin-left: 366px;
    margin-bottom: 20px;
}
.Gallary .photo6 .img10 {
    width: 143px;
    height: 144px;
    margin-left: 366px;
}